<%= form_for account do |f| %>

  <div class="line2">
    <%= f.label :org, "Organization" %>
    <%= f.text_field :org, placeholder: "ORGANIZATION", :class => "form-control" %>
  </div>

  <div class = "ipaddress line2">
    <%= f.label :ipaddress, "IP Address" %>
    <%= f.text_field :ipaddress, placeholder: "IP ADDRESS", :class => "form-control" %>
  </div>

  <div class = "dummy line2">
    <%= f.label :dummy, "Dummy User"  %>
    <%= f.text_field :dummy, placeholder: "DUMMY USERNAME", :class => "form-control" %>
  </div>

  <div class = "password line2">
    <%= f.label :password, "Password"  %>
    <%= f.text_field :password, placeholder: "PASSWORD", :class => "form-control" %>
  </div>

  <div class="email line2">
    <%= f.label :email, "Email"  %>
    <%= f.text_field :email, placeholder: "EMAIL", :class => "form-control" %>
  </div>

  <div class="name line3">
    <%= f.label :name, "Name"  %>
    <%= f.text_field :name, placeholder: "TWITTER NAME", :class => "form-control",:input_html => {:maxlength => 15} %>
  </div>
  <div class = "username line3">
  <%= f.label :username, "Username"  %>
  <div class="input-group">
    <%= f.text_field :username, placeholder: "NEW USERNAME", :class => "form-control", :id => "edit-username", :class => "form-control"%>
    <span class="input-group-btn">
    <button type = "button" id= "edit-ajax-button" class = "ajax-button btn btn-default btn-primary" >SEARCH</button>
    </span>
  </div>
  </div>


  <div class="line4">
    <%= f.label :bio, "Description"  %>
    <%= f.text_area :bio,:id=> "edit-bio", :size=>"55x5", placeholder: "TWITTER BIO", :class => "form-control", :maxlength => "160"%>
  </div>

  <div class="location line5">
    <%= f.label :location, "Location"  %>
    <%= f.text_field :location, placeholder: "LOCATION", :class => "form-control" %>
  </div>
  <div class="website line5">
    <%= f.label :website, "Website"  %>
    <%= f.text_field :website, placeholder: "WEBSITE", :class => "form-control" %>
  </div>

  <div class="prof line5">
    <%= f.label :profile_img, "Profile Image"  %>
    <%= f.text_field :profile_img, placeholder: "PROFILE IMAGE", :class => "form-control" %>
  </div>
  <div class="header line5">
    <%= f.label :header_img, "Header Image"  %>
    <%= f.text_field :header_img, placeholder: "HEADER IMAGE", :class => "form-control"  %>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= f.submit 'SUBMIT', :class => "btn btn-primary", :id =>"submit" %>
  </div>
<% end %>
