<% if @account %>
  <%= form_for(@account) do |f| %>

    <div class="line1">
      <label for="org">Organization</label>
      <%= f.text_field :org, placeholder: "ORGANIZATION", :id => "org"%>
    </div>

    <div class = "ipaddress line2">
      <label for="ipaddress">IP Address</label>
      <%= f.text_field :ipaddress, placeholder: "IP ADDRESS", :id => "ipaddress", :class => "form-control" %>
    </div>

     <div class = "dummy line2">
      <label for="dummy">Username</label>
      <%= f.text_field :dummy, placeholder: "DUMMY USERNAME", :id => "dummy", :class => "form-control" %>
    </div>

    <div class = "password line2">
      <label for="ipaddress">Password</label>
      <%= f.text_field :password, placeholder: "PASSWORD",:id => "password", :class => "form-control" %>
    </div>

    <div class="email line2">
      <label for="email">Email</label>
      <%= f.text_field :email, placeholder: "EMAIL", :id => "email", :class => "form-control" %>
    </div>

    <hr>

    <div class="name line3">
      <%= f.text_field :name, placeholder: "TWITTER NAME",:maxlength => 15 %>
    </div>
    <div class = "username line3">
    <label for="username">New Username</label>
    <div class="input-group">
      <%= f.text_field :username, placeholder: "NEW USERNAME", :id => "username", :class => "form-control"%>
      <span class="input-group-btn">
      <button type = "button" id= "ajax-button" class = "btn btn-default btn-primary" >SEARCH</button>
      </span>
    </div>
    </div>
    <div id = "underscore-ajax">
    </div>


    <div class="bio">
      <%= f.text_area :bio,:id=> "bio", size: "100x5", placeholder: "TWITTER BIO",:input_html => {:maxlength => 160} %>
    </div>

    <div class="location line5">
      <%= f.text_field :location, placeholder: "LOCATION" %>
    </div>
    <div class="website line5">
      <%= f.text_field :website, placeholder: "WEBSITE" %>
    </div>
    <br>

    <div class="prof line6">
      <%= f.label :profile_img %><br>
      <%= f.text_field :profile_img %>
    </div>
    <div class="header line6">
      <%= f.label :header_img %><br>
      <%= f.text_field :header_img %>
    </div>
    <br>
    <br>
    <div class="actions">
      <%= f.submit 'SUBMIT', :class => "btn btn-primary", :id =>"submit" %>
    </div>
  <% end %>
<% end %>
