
  <%= form_for Account.new, :id => "accountform" do |f| %>
    <td>
    </td>
    <td>
      <%= f.text_field :ipaddress, :id => "ipaddress",:size => "5", :class => "form-control" %>
    </td>
   
    <td>
      <%= f.text_field :dummy, :id => "dummy",:size => "10", :class => "form-control" %>
    </td>

    <td>
      <%= f.text_field :password,:id => "password", :class => "form-control" %>
    </td>

    <td>
      <%= f.text_field :email, :id => "email", :size => "10", :class => "form-control" %>
    </td>

    <td class = "input-group">
        <%= f.text_field :username, :id => "username", :size => "20",:maxlength => "15", :class => ".username form-control"%>
        <span class="input-group-btn">
          <button type = "button" id= "ajax-button" class = "ajax-button btn btn-xs btn-primary" > ? </button>
        </span>
      <div class = "underscore-ajax"> </div>
    </td>

    <td>
      <%= f.text_field :name, :id => "name",:maxlength => "20", :class => "form-control"  %>
    </td>

    <td>
      <%= f.text_field :bio,:id=> "bio",:size => "20",:maxlength =>"160", :class => "form-control"  %>
    </td>

    <td>
      <%= f.text_field :location,:id => "location", :class => "form-control"  %>
    </td>
    <td>
      <%= f.text_field :website,:id=> "website", :class => "form-control"  %>
    </td>
    <td class ="input-group">
      <div class="input-group">
        <%= f.text_field :profile_img, :id =>"profile_img",:size => "10", :class => "form-control"  %>
        <div class="input-group-btn">
          <button type="button" id = "image-dropdown" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right" id="images">

          </ul>
        </div>
      </div>
    </td>


    <td>
      <%= f.text_field :header_img, :id => "header_img", :class => "form-control"  %>
    </td>
    <td>
       <button type = "button" id= "save" class = " save btn btn-primary disabled" >Save </button>
    </td>
  <% end %>
