<p id="notice"><%= notice %></p>

<body>
  <h3>Twitter Accounts</h3>
  <br>
  <div class = "table">
    <table class= "table table-striped" id = "table">
      <thead>
        <tr>
          <th>Export</th>
          <th>IP</th>
          <th>Username</th>
          <th>Password</th>
          <th>Name</th>
          <th>Bio</th>
          <th>Location</th>
          <th>Website</th>
          <th>Profile Img</th>
          <th>Header Img</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @accounts.each do |account| %>
          <tr data-link = "<%= edit_account_path(account) %>">
            <td><%= check_box_tag 'export', 'yes', true %></td>
            <td><%= account.ipaddress %></td>
            <td><%= account.username %></td>
            <td><%= account.password %></td>
            <td><%= account.name %></td>
            <td><%= account.bio %></td>
            <td><%= account.location %></td>
            <td><%= account.website %></td>
            <td><%= account.profile_img %></td>
            <td><%= account.header_img %></td>

            <td><%= link_to 'Edit', edit_account_path(account) %></td>
            <td><%= link_to 'Delete', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <div class = "add-button">
    <button type = "button" id= "add" class = "btn btn-xs btn-info" >+ Add New Account</button>
    <%if false %><%= link_to "+ Add New Account", new_account_path, :class => "btn btn-xs btn-info", :remote => true, "data-toggle" => "modal", "data-target" => "#modalwindow" %> 
    <%= link_to "+ Add New Account", "/auth/twitter", :class => "btn btn-xs btn-info" %> <% end %>
  </div>

  <!-- Modal -->
  <div id="modalwindow" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <%= render 'new' %>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class = "buttons">
    <button type = "button" class = "btn btn-xs btn-info" > Clear List </button>
    <%= link_to 'Export To CSV', accounts_path(format: :csv),:class => "btn btn-xs btn-info"  %>
  </div>
</body>
