<p id="notice"><%= notice %></p>

<h3>twitter accounts.</h3>
  <table class= "table table-striped" id = "account-table">
    <thead>
    <% if @accounts %>
      <tr>
        <th>Exp</th>
        <th>IP</th>
        <th>Dummy</th>
        <th>Password</th>
        <th>Email</th>
        <th>Username</th>
        <th>Name</th>
        <th>Bio</th>
        <th>Location</th>
        <th>Website</th>
        <th>Profile Image</th>
        <th>Header Image</th>
        <th colspan="3"></th>
      </tr>
      <% end %>
    </thead>

    <tbody>
      <% @accounts.each do |account| %>
      <%= render :partial => 'account', :locals => {:account => account}%> 
      <% end %>
    </tbody>
  </table>
      <%= render :partial => 'new' %>

<br>

<div class = "buttons">
  <%= link_to 'Clear All', destroyall_path, :class => "btn btn-sm btn-info", data: {confirm: "Confirm: Delete table?"} %>
  <%= link_to 'Export To CSV', accounts_path(format: :csv),:class => "btn btn-sm btn-info"  %>
</div>
